<!--<div-->
  <!--class="container-fluid"-->
  <!--*ngIf="isLoading; else loader"-->
<!--&gt;-->
  <div class="container-fluid">
    <div class="row d-xl-flex justify-content-between">
      <!-- Pie-chart -->
      <div class="outer-w3-agile col-xl-5 ml-xl-3 mt-xl-0 mt-3 mb-4">
        <app-pie-all [pieAlls]="pieAlls"></app-pie-all>
      </div>
      <!--// Pie-chart -->

      <!-- Bar-chart -->
      <div class="outer-w3-agile col-xl-6 ml-xl-3 mt-xl-0 mt-3 mb-4">
        <app-bar-year [barYears]="barYears"></app-bar-year>
      </div>
      <!--// Bar-chart -->
    </div>
  </div>

  <!-- Line-chart -->
  <div class="outer-w3-agile col-xl ml-xl-3 mt-xl-0 mt-3 mb-4">
    <app-line-curr [lineCurrs]="lineCurrs"></app-line-curr>
  </div>
  <!--// Line-chart -->

<!--</div>-->

<!--<ng-template #loader>-->
  <!--<div class="se-pre-con"></div>-->
<!--</ng-template>-->
